

 <mat-card class="card">
    <img [src]="hero | image" alt="super hero" class="card__image">
    <div class="container">
        <mat-card-title>{{ hero.superhero }}</mat-card-title>
    </div>

    <mat-card-content>
        <h3>{{ hero.publisher }}</h3>
    </mat-card-content>

    <mat-divider class="divider-bar"></mat-divider>
    <mat-card-actions>
        <button 
            mat-button 
            color="lightgreen"
            [routerLink]="['/heroes/', hero.id]"
        >
            Read more...
        </button>
        <span class="spacer"></span>
        <button 
            mat-button c
            olor="info"
            [routerLink]="['/heroes/edit/', hero.id]"    
        >
            Edit
        </button>
    </mat-card-actions>

</mat-card>