
<h1>This going to be the 404 Page</h1>

<ul>

    <li><a routerLink="/auth/login" >Login</a></li>
    <li><a routerLink="/auth/register" >Register</a></li>

    <li><a routerLink="/heroes" >Heroes Home</a></li>

    <!-- <li><a routerLink="/heroes/list" >List of Heroes</a></li>
    <li><a routerLink="/heroes/add" >Add Hero</a></li>
    <li><a routerLink="/heroes/edit" >Edit Hero</a></li>
    <li><a routerLink="/heroes/find" >Find Hero</a></li>
    <li><a routerLink="/heroes/25" >Hero</a></li> -->
</ul>